<a href="https://colab.research.google.com/github/DheniMoura/Analise-Exploratoria-de-Dados---Unitner/blob/main/Uninter_EDA_Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise Exploratória de Dados

### Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np

### Importando e visualizando dados
Dados do IBGE: Pesquisa Nacional por Amostra de Domicílios (PNAD)

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/dayanebravo/AED/main/pes_2012.csv')

In [3]:
df.head() # visualizando as primeiras linhas do dataframe

,V0101,UF,V0302,V8005,V0404,V4803,V4718,V4720,V4729
0,2012,Rondônia,Masculino,48,Branca,15 anos ou mais,3000,3000,232
1,2012,Rondônia,Feminino,48,Branca,15 anos ou mais,3000,3000,232
2,2012,Rondônia,Feminino,23,Branca,15 anos ou mais,1100,1100,232
3,2012,Rondônia,Feminino,21,Branca,14 anos,1100,1100,232
4,2012,Rondônia,Feminino,54,Branca,15 anos ou mais,NaN,460,232

In [5]:
df.shape # quantidades de linhas e colunas

(362451, 9)

In [6]:
df.info() # informações derais dos dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362451 entries, 0 to 362450
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V0101   362451 non-null  int64
 1   UF      362451 non-null  object
 2   V0302   362451 non-null  object
 3   V8005   362451 non-null  int64
 4   V0404   362451 non-null  object
 5   V4803   362451 non-null  object
 6   V4718   173539 non-null  object
 7   V4720   309512 non-null  object
 8   V4729   362451 non-null  int64
dtypes: int64(3), object(6)
memory usage: 24.9+ MB

In [20]:
ndf = df.dropna()  # criando um NOVO dataframe com as linhas inválidas removidas

In [8]:
df.dtypes # tipos de dados de cada coluna

V0101     int64
UF       object
V0302    object
V8005     int64
V0404    object
V4803    object
V4718    object
V4720    object
V4729     int64
dtype: object

In [9]:
df.V4718 # o tipo da coluna não está fazendo sentido

0          3000
1          3000
2          1100
3          1100
4           NaN
          ...
362446      NaN
362447    20000
362448      NaN
362449      NaN
362450    13000
Name: V4718, Length: 362451, dtype: object

In [11]:
# Converte para numérico, transforma em float e substitui os erros por NaN
df['V4718'] = pd.to_numeric(df['V4718'], errors='coerce')
df['V4720'] = pd.to_numeric(df['V4720'], errors='coerce')

In [12]:
df.dtypes

V0101      int64
UF        object
V0302     object
V8005      int64
V0404     object
V4803     object
V4718    float64
V4720    float64
V4729      int64
dtype: object

### Variáveis Qualitativas e Quantitativas

In [13]:
df.select_dtypes(include=['object']) # Dados qualitativos

                      UF      V0302   V0404            V4803
0               Rondônia  Masculino  Branca  15 anos ou mais
1               Rondônia   Feminino  Branca  15 anos ou mais
2               Rondônia   Feminino  Branca  15 anos ou mais
3               Rondônia   Feminino  Branca          14 anos
4               Rondônia   Feminino  Branca  15 anos ou mais
...                  ...        ...     ...              ...
362446  Distrito Federal   Feminino  Branca  15 anos ou mais
362447  Distrito Federal  Masculino  Branca          12 anos
362448  Distrito Federal  Masculino  Branca          13 anos
362449  Distrito Federal  Masculino  Branca          13 anos
362450  Distrito Federal  Masculino  Branca  15 anos ou mais

[362451 rows x 4 columns]

In [14]:
df.select_dtypes(include=['number']) # Dados quantitativos

        V0101  V8005    V4718    V4720  V4729
0        2012     48   3000.0   3000.0    232
1        2012     48   3000.0   3000.0    232
2        2012     23   1100.0   1100.0    232
3        2012     21   1100.0   1100.0    232
4        2012     54      NaN    460.0    232
...       ...    ...      ...      ...    ...
362446   2012     51      NaN      0.0    290
362447   2012     53  20000.0  20000.0    290
362448   2012     21      NaN      0.0    290
362449   2012     19      NaN      0.0    290
362450   2012     40  13000.0  13000.0    290

[362451 rows x 5 columns]

#### Valores quantitativos: discretos ou contínuos

In [15]:
# quantitativo discreto (finito)
print(type(df.V0101[1]))
df.V0101[132]

<class 'numpy.int64'>

2012

In [16]:
# quantitativo discreto (finito)
print(type(df.V8005[1]))
df.V8005[132]

<class 'numpy.int64'>

73

In [21]:
# quantitativo constínuo (não enumerável)
pdmedia = ndf.V8005.mean() # média usando Pandas
print("A média é: ", pdmedia)
type(pdmedia)

A média é:  37.89061415323275

numpy.float64

In [22]:
npmedia = np.mean(ndf.V8005) # média usando Numpy
print("A média é: ", npmedia)

A média é:  37.89061415323275

#### Representação numérica

In [23]:
print("%.2f" % pdmedia)   # arredondamento 2 casas decimais

37.89

In [24]:
print('{:e}'.format(pdmedia))   # notação científica

3.789061e+01

In [25]:
print('{:.2e}'.format(pdmedia))   # notação científica com 2 casas decimais

3.79e+01

### Frequência de dados

#### Frequência absoluta

In [26]:
ndf.V0404.value_counts() # coluna de características físicas

Parda       78246
Branca      73619
Preta       15276
Amarela       729
Indígena      671
Name: V0404, dtype: int64

In [27]:
df.V8005.value_counts() # coluna idade

14     6683
30     6667
12     6643
16     6538
17     6529
       ...
109       2
108       1
110       1
117       1
107       1
Name: V8005, Length: 112, dtype: int64

#### Frequência relativa

In [28]:
print("número total de observações: ", len(ndf.V0404) )   #  número total de observações - linhas

np.divide(ndf.V0404.value_counts(), len(ndf.V0404))  #  frequência relativa da coluna indicada - características físicas

número total de observações:  168541

Parda       0.464255
Branca      0.436802
Preta       0.090637
Amarela     0.004325
Indígena    0.003981
Name: V0404, dtype: float64

In [29]:
print("número total de observações: ", len(ndf.V8005) )   #  número total de observações - linhas

np.divide(ndf.V8005.value_counts(), len(ndf.V8005))  #  frequência relativa da coluna indicada - características físicas

número total de observações:  168541

30     0.029488
32     0.028005
33     0.026801
31     0.026356
27     0.026083
         ...
102    0.000006
96     0.000006
99     0.000006
95     0.000006
117    0.000006
Name: V8005, Length: 90, dtype: float64